.layoutContainer {
	display: flex;
	justify-content: center;
	width: 100vw;
	background-color: #f1efee;
}

.layout {
	display: flex;
	flex-direction: column;
	width: 100%;
	// max-width: 1400px;
	// min-height: 100vh;
}
