.navbar {
	display: flex;
	// gap: 15px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #f1efee;
	font-family: Lato, serif;

	.navStart {
		display: flex;
		justify-content: space-around;
		align-items: centre;
		width: 20%;
		margin-left: 2rem;
		border: 1.2rem;
		padding: 1rem;
		.cv {
			align-items: center;
			width: 40%;
			text-align: center;
			padding: 1rem;
			background-color: #ffffff;
			margin-left: 1.2rem;
			border-radius: 2.2rem;
		}

		.copyEmail {
			display: flex;
			width: 80%;
			justify-content: space-around;
			text-align: center;
			align-items: center;
			// background-color: yellow;
			background-color: #f1efee;
			border-radius: 2.2rem;
			.email {
				padding: 1rem;
				text-align: center;
				letter-spacing: 0.06rem;
			}
			.copy {
				width: 50%;
				height: 40%;
				background-color: blue;
				padding: 1rem;
				background-color: #ffffff;
				margin-left: 1.2rem;
				border-radius: 2.2rem;
				text-align: center;
			}
		}
	}

	/* Right hand side menu  */
	.navEnd {
		display: flex;
		justify-content: space-around;
		width: 13%;
		margin-right: 2rem;
		padding: 1.2rem;

		.links {
			display: flex;
		}
		br {
			display: flex;
		}
	}
}
