.slider {
	max-width: 100%;
	background-color: red;
	white-space: nowrap;
	@keyframes sliding {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-100%);
		}
	}

	.sliderTrack {
		display: flex;
		gap: 1rem;
		align-items: center;
		padding-block: 1rem;
		flex-wrap: wrap;
		animation: 10s sliding infinite linear;
		overflow: hidden;
		white-space: nowrap;
		// justify-content: space-evenly;
	}

	// .slide {
	// 	width: 550px;
	// }

	.slide img {
		max-width: 220px;
		height: 110px;
	}
}
