.slider {
	max-width: 100%;
	background-color: #fff;
	overflow: hidden;
	border-radius: 0 0 123px 123px;

	@keyframes sliding {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-100%);
		}
	}

	.sliderTrack {
		display: flex;
		gap: 2rem;
		align-items: center;
		padding-block: 8.5rem;
		animation: 30s sliding infinite linear;
		white-space: nowrap;
		border-radius: 0 0 123px 123px;
	}

	.slide img {
		height: 140px;
	}
}
